
  p, li {
    color: green;
}
li {
    list-style-type: none;
  }
  .special {
    color: rgb(255, 0, 212);
    font-weight: bold;
  }
  li.special {
    color: orange;
    font-weight: bold;
  }
  li.special,
span.special {
  color: orange;
  font-weight: bold;
}
li em {
    color: rebeccapurple;
  }
  h1 + p {
    font-size: 200%;
  }
  
a:link {
    color:blue;
}
a:visited{
    color: grey;
}
a:hover {
    text-decoration: none;
  }
  body h1 + p .special {
    color: yellow;
    background-color: black;
    padding: 5px;
  }